<!-- C:\Users\user\Desktop\VKR\details\templates\details\user_orders.html -->

{% extends 'base.html' %}  <!-- Тег extends должен быть первым -->

{% load custom_filters %}

{% block content %}
  <h2>Мои заказы</h2>

  {% for order in orders %}
    <div>
      <h4>Заказ №{{ order.id }} от {{ order.order_date|date:"H:i d:m:y" }}</h4>

      {% for item in order.parts.all %}
        <p>Запчасть: {{ item.name }}</p>
        <p>Количество: {{ item.orderpart_set.first.quantity }} шт.</p>
        <p>Цена за штуку: {{ item.price }} руб.</p>
        <p>Общая сумма: {{ item.price|multiply:item.orderpart_set.first.quantity }} руб.</p>
      {% endfor %}

      <p>Статус: {{ order.status }}</p>
    </div>
  {% empty %}
    <p>У вас нет заказов.</p>
  {% endfor %}
{% endblock %}
